
<!doctype html>
<html lang="en" xmlns:meal="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brain Staion Mealing System</title>
</head>
<body>
<h4>Shah Imran</h4>
<a href="{% url "meal:menu"%}">next page.</a>
<a href="{% url "meal:token_list"%}">tokens.</a>
<a href="{% url "meal:registration" %}"> registration here</a>
<p><a href="{% url "meal:user"%}">User Registration</a></p>

</body>
</html>