<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lunch page</title>
</head>
<body>
    <div >
        {% block content %}
            <h1>New Data</h1>
                <form method="POST" >
                    {% csrf_token %}
                    <label for="empName">Employee Name:</label>
                    <input type="text" name="empName"><br>
                    <label for="empId">Empolyee Id:</label>
                    <input type="number" name="empId"><br>
                    <label for="phone">Phone No.:</label>
                    <input type="number" name="phone"><br>
                    <label for="lunch">Choose launch:</label>
                    <select name="lunch" id="">
                        <option value="Rice" selected>Rice</option>
                        <option value="Ruti">Ruti</option>
                        <option value="None">None</option>
                    </select>
                    <br>
                    <button type="submit" >Submit</button>
                </form>
        {% endblock %}
    </div>
</body>
</html>